[submodule "+datastruct"]
	path = +datastruct
	url = git@bitbucket.org:sonnhammergrni/datastruct.git
[submodule "+tools"]
	path = +tools
	url = git@bitbucket.org:sonnhammergrni/tools.git
[submodule "+Methods"]
	path = +Methods
	url = git@bitbucket.org:sonnhammergrni/Methods.git
[submodule "+illustrate"]
	path = +illustrate
	url = git@bitbucket.org:sonnhammergrni/illustrate.git
[submodule "+analyse"]
	path = +analyse
	url = git@bitbucket.org:sonnhammergrni/analysis.git
