[submodule "+tools"]
	path = +tools
	url = git@bitbucket.org:xparx/tools.git
[submodule "+Methods"]
	path = +Methods
	url = git@bitbucket.org:xparx/Methods.git
[submodule "+illustrate"]
	path = +illustrate
	url = git@bitbucket.org:xparx/illustrate.git
[submodule "+datastruct"]
	path = +datastruct
	url = ssh://git@bitbucket.org/xparx/datastruct.git
